
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/LoginStyle.css" rel="stylesheet" />
    <title>Index</title>
</head>

<body>
    <img id="imgBackground" src="~/Images/inloggBakgrund.png" alt="Bakgrundsbild" />
    <p id="BigText">University UNI</p>
    <p id="SmalText">FrånvaroAnmälan</p>

    <div id="loginBar">
        <p id="LoggaIn">Logga In</p>
        <hr id="HR-Line" />
        @using (Html.BeginForm("Index", "Login"))
        {
            <p>@Html.TextBox("ansID", null, new { placeholder = "Username", @class = "loginRuta" })</p>
            <p>@Html.Password("Password", null, new { placeholder = "Password", @class = "loginRuta" })</p>
            <input type="submit" value="Sign in" class="SumbitRuta" />
        }
        <p class="GlömLösenord">Glöm lösenord?</p>
        <hr id="HR-Line2" />
    </div>
</body>
</html>